@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);
.main { float: right; width: 70%; } .leftBar { float: left; width: 25%; }  
* {
    margin:0;
    padding:0;
    font:8pt Arial;
}

body {
  background-color:#FFEFDB;/*#34495e*/
}

.field {
  display:flex;
  position:realtive;
  margin:2em;
  width:auto;
  flex-direction:row;
  box-shadow:
   1px 1px 0 rgb(22, 160, 133),
   2px 2px 0 rgb(22, 160, 133),
   3px 3px 0 rgb(22, 160, 133),
   4px 4px 0 rgb(22, 160, 133),
   5px 5px 0 rgb(22, 160, 133),
   6px 6px 0 rgb(22, 160, 133),
   7px 7px 0 rgb(22, 160, 133)
  ;
}

.field>input[type=text],
.field>button {
  display:block;
  font:1.2em 'Montserrat Alternates';
}

.field>input[type=text] {
  flex:1;
  padding:0.6em;
  border:0.2em solid rgb(26, 188, 156);
}

.field>button {
  padding:0.6em 0.8em;
  background-color:rgb(26, 188, 156);
  color:white;
  border:none;
}
