.main { float: right; width: 70%; } .leftBar { float: left; width: 25%; }  
* {
    margin:0;
    padding:0;
    font:10pt Arial;
}

body {
  background-color:#FFFFFF;
}

p {padding:1em;color:#1ABC9C;}

/* =================
   Searchbox Styling */
.searchbox {
  display:flex;
  position:realtive;
  margin:1em;
  width:auto;
  flex-direction:row;
}

.searchbox>input[type=text] {
  flex:1;
  padding:0.6em;
  border:0.2em solid rgb(26, 188, 156);
}
/* =================
   Container Styling */
.container {
  position: relative;
  background: white;
  margin:1em;
  padding: 0em;
  border-radius: 0 0 8px 8px;
}

/* ===========
   Tab Styling */
.tab-group {
  position: relative;
  border: 1px solid #eee;
  margin-top: 2em;
  border-radius: 0 0 5px 5px;
}
.tab-group section {
  opacity: 0;
  height: 0;
  padding: 0 1em;
  overflow: hidden;
  transition: opacity 0.4s ease, height 0.4s ease;
}
.tab-group section.active {
  opacity: 1;
  height: auto;
  overflow: visible;
}

.tab-nav {
  list-style: none;
  margin: -2.5em -1px 0 0;
  padding: 0;
  height: 2.5em;
  overflow: hidden;
}
.tab-nav li {
  display: inline;
}
.tab-nav li a {
  top: 1px;
  position: relative;
  display: block;
  float: left;
  border-radius: 5px 5px 0 0;
  background: #eee;
  line-height: 2em;
  padding: 0 3.7%;
  text-decoration: none;
  color: grey;
  margin-top: .5em;
  margin-right: 1px;
  transition: background .2s ease, line-height .2s ease, margin .2s ease;
}
.tab-nav li.active a {
  background: #1ABC9C;
  color: white;
  line-height: 2.5em;
  margin-top: 0;
}
